name: Test brfss-diabetes-surveys

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main", "develop" ]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Install dependencies
        run: uv sync --dev

      - name: Configure AWS Credentials for DVC
        run: |
          mkdir -p ~/.aws
          echo "[profile dvc-us-pr-diabetes-trends-2000-2014]" > ~/.aws/config
          echo "aws_access_key_id=${{ secrets.DVC_BRFSS_DIABETES_SURVEYS_ACCESS_KEY_ID }}" >> ~/.aws/config
          echo "aws_secret_access_key=${{ secrets.DVC_BRFSS_DIABETES_SURVEYS_SECRET_ACCESS_KEY }}" >> ~/.aws/config

      - name: Check DVC health
        run: uv run dvc doctor

      - name: Clean DVC Temporary Files
        run: rm -rf .dvc/tmp

      - name: Pull DVC data from S3 for tests
        run: find src/tests/ -name "*.dvc" -exec uv run dvc pull --allow-missing {} \;

      - name: Run pytest with coverage
        run: uv run pytest src/tests/ --cov=src/ --cov-report=term-missing
